@cls-prefix: rc-dynamic-form;

:global {
  .@{cls-prefix} {
    .footer-bar {
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > button {
        margin-right: 16px;
      }
    }

    .form-item {
      padding: 12px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      &:hover {
        .label-tool-icon {
          color: rgba(0, 0, 0, .85);
        }
      }

      &.normal {
        &:hover {
          background: #f0fdff;
        }
      }
  
      &.undoable {
        background: yellow;
      }

      .ant-form-item-label {
        label {
          display: flex;
        }
      }
    }

    .label-tools-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .help-icon {
        margin-left: 8px;
        transform: translateY(1px);
      }
      .label-tool-icon {
        color: rgba(0, 0, 0, .25);
        cursor: pointer;
        font-size: 16px;
      }
    }

    .illegal-component {
      .error {
        color: red;
        margin-right: 8px;
      }
    }

    .display-text {
      word-wrap: break-word;
      white-space: pre-wrap;
    }


    .ant-switch-disabled {
      opacity: 1;
    }

    .ant-slider-disabled {
      .ant-slider-track {
        background-color: #91d5ff !important;
      }
    }

    .ant-form-item-control-wrapper {
      overflow: hidden;
    }

    .map-iframe {
      width: 100%;
      border: none;
      height: 300px;
      position: relative;
      top: -44px;
    }

    .select-map-value {
      color: #1890ff;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .ant-transfer {
      background: white;
    }

    .error-message-wrapper {
      margin-right: 16px;
      color: #f5222d;
      cursor: pointer;
      .error-icon {
        
        font-size: 16px;
        
        margin-right: 4px;
      }
    }
  }
}


:global {
  .select-map-modal {
    .select-map-iframe {
      height: 75vh;
      width: 100%;
      border: none;
    }
  }
}


:global {
  .error-popover {
    
  }
}